<div class="flex flex-col max-w-110 md:min-w-110 ">

    <div class="flex flex-row items-center justify-center mt-2">
        <mat-icon
        class="items-center text-primary icon-size-10"
        [svgIcon]="icon"></mat-icon>
    </div>
    
    <div class="flex flex-col flex-auto w-full">

        <div class="flex flex-row items-center justify-center py-2">
            <h1 class="text-lg text-center font-bold">{{title}}</h1>
        </div>

        <div class="w-full flex flex-col items-center">
            <!-- display for t&c if there is one -->
            <ng-container *ngIf="voucher">
                <div class="flex flex-row">
                    <span class="font-medium">Voucher Name:</span>
                    <span class="font-medium text-primary pl-1">{{voucher.voucher.name}}</span>
                </div>
                <div class="flex flex-row w-full items-center justify-center">
                    <span class="font-medium">Valid Date:</span>
                    <div class="flex flex-row pt-0.5">
                        <span class="text-sm sm:text-md font-medium text-primary pl-1">{{voucher.voucher.startDate | date:'dd-MM-yyyy' }}</span>
                        <span class="text-sm sm:text-md font-medium text-primary pl-1">to</span>
                        <span class="text-sm sm:text-md font-medium text-primary pl-1">{{voucher.voucher.endDate | date:'dd-MM-yyyy' }}</span>
                    </div>
                </div>
                <div class="flex flex-col pt-2">
                    <span *ngIf="voucher.voucher.voucherTerms.length > 0" class="font-semibold">Terms & Conditions</span>
                    <div class="flex flex-col">
                        <!-- <ul class="text-red-500 list-disc">
                            <ng-container *ngFor="let tnc of voucher.voucher.voucherTerms">
                                <li class="font-medium text-black">{{tnc.terms}}</li>
                            </ng-container>
                        </ul> -->
                        <ng-container *ngFor="let tnc of voucher.voucher.voucherTerms">
                            <li class="text-primary">
                                <span class="text-gray-400">
                                    {{tnc.terms}}
                                </span>
                            </li>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- description -->
            <span class="flex justify-center font-medium">{{description}}</span>
            <!-- valid  -->
            <ng-container *ngIf="!isValid">
                <div class="my-2"></div>
                <span class="flex justify-center items-center font-semibold text-primary mb-2 text-sm text-center">
                    Note: This voucher cannot be used for this store
                </span>
            </ng-container>
        </div>

        <!-- Actions -->
        <div class="flex flex-row w-full items-center justify-center mt-3">
            <!-- Send -->
            <button
                class="p-2 px-8 rounded-lg bg-primary hover:bg-primary-700 font-medium text-black cursor-pointer"
                (click)="okButton()"
                >
                OK
            </button>
        </div>
    </div>
</div>