<!-- categories for xs view mobile -->
<div class="w-full truncate pt-2">
    <div class="grid grid-flow-col grid-rows-1 items-center overflow-x-scroll pb-1">
        <div class="flex flex-wrap items-center p-0.5">
            <input 
                [id]="'categories-btn-all-product'" 
                type="button" 
                class="w-0 h-0 invisible"
                (click)="changeCatalogue('')">
            <label
                class="font-bold p-2.5 rounded-full cursor-pointer"
                [ngClass]="{'bg-primary text-black' : !category,
                            'bg-gray-300 text-black' : category}"
                [for]="'categories-btn-all-product'"
            >
                <span class="">All Products</span>
            </label>
        </div>
        <div *ngFor="let _category of categories" class="justify-around pl-3">
            <input 
                [id]="'categories-btn' + _category.id" 
                [value]="getCategorySlug(_category.name)"
                type="button" 
                class="w-0 h-0 invisible"
                (click)="changeCatalogue($event.target.value, $event)">
            <label
                class="font-bold p-3 rounded-full cursor-pointer"
                [ngClass]="{
                            'bg-slate-300 text-black max-w-30' : !category,
                            'bg-primary text-black max-w-30' : (category && category.id === _category.id),
                            'bg-gray-300 text-black max-w-30' : (category && category.id !== _category.id)      
                            }"
                [for]="'categories-btn' + _category.id"
            >
                <span>{{textTruncate(_category.name, 25)}}</span>
            </label>
        </div>
    </div>
</div>


