<div class="flex flex-col items-center justify-center w-full h-16 bg-primary px-5">
    <div class="w-full flex flex-row max-w-280 truncate">
        <div>
            <a [routerLink]="['']" class="whitespace-nowrap text-white font-semibold cursor-pointer">Home</a>
        </div>
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index;">
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon
                    class="icon-size-5 text-secondary"
                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                <a [routerLink]="breadcrumb.url" routerLinkActive="router-link-active" 
                   [ngClass]="breadcrumbs.length === (i + 1) ? 'text-black' : 'text-white'" class="ml-1 font-semibold cursor-pointer">{{ breadcrumb.label | titlecase }}</a>
            </div>
        </ng-container>
    </div>
</div>