<div class="flex flex-col items-center w-full h-full">
    
    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto md:mt-10 md:mb-10">

        <!-- Discounts -->
        <sliders class="flex flex-auto relative w-full max-w-280"></sliders>

        <!-- Category -->
        <div class="flex flex-col mt-10 items-center w-full max-w-280">
            <p class="font-semibold text-3xl">Please select one of the Categories</p>
            <div class="flex flex-row w-full items-center justify-center">
                <category-carousel class="w-5/6 max-w-280"></category-carousel>
            </div>
        </div>
    </div>
</div>