<ul *ngIf="pager.pages && pager.pages.length" class="pagination flex flex-row items-center">
    <!-- <li 
        (click)="setPage(1)"
        class="bg-card h-10 w-10 pt-[6px] flex justify-center items-center cursor-pointer rounded-full page-item first-item" 
        [ngClass]="pager.currentPage === 1 ? 'disabled bg-disabled cursor-default' : 'bg-card cursor-pointer group hover:bg-primary'"
    >
        <a class="page-link">
            <mat-icon
                class="icon-size-4"
                [ngClass]="pager.currentPage === 1 ? '' : 'text-primary group-hover:text-white'"
                [svgIcon]="'heroicons_outline:chevron-double-left'"></mat-icon>
        </a>
    </li> -->
    <li 
        (click)="setPage(pager.currentPage - 1)"
        class="bg-card h-10 w-10 pt-[6px] flex justify-center items-center cursor-pointer rounded-full page-item previous-item" 
        [ngClass]="pager.currentPage === 1 ? 'disabled bg-disabled cursor-default' : 'bg-card cursor-pointer group hover:bg-primary'"
    >
        <a class="page-link">
            <mat-icon
                class="icon-size-4"
                [ngClass]="pager.currentPage === 1 ? '' : 'text-primary group-hover:text-white'"
                [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
        </a>
    </li>
    <ng-container *ngFor="let page of pager.pages">
        <li
            (click)="setPage(page)"
            class="flex justify-center items-center select-none active h-10 w-10 cursor-pointer rounded mx-2 page-item number-item"
            [ngClass]="pager.currentPage === page ? 'active bg-primary' : 'bg-card hover:bg-hover'" 
        >
            <a 
                class="p-2 page-link"
                [ngClass]="pager.currentPage === page ? 'text-white' : ''"    
            >{{page}}</a>
        </li>
    </ng-container>

    <li 
        (click)="setPage(pager.currentPage + 1)"
        class="bg-card h-10 w-10 pt-[6px] flex justify-center items-center cursor-pointer rounded-full page-item next-item" 
        [ngClass]="pager.currentPage === pager.totalPages ? 'disabled bg-disabled cursor-default' : 'bg-card cursor-pointer group hover:bg-primary'"
    >
        <a class="page-link">
            <mat-icon
                class="icon-size-4"
                [ngClass]="pager.currentPage === pager.totalPages ? '' : 'text-primary group-hover:text-white'"
                [svgIcon]="'heroicons_outline:chevron-right'"></mat-icon>
        </a>
    </li>
    <!-- <li 
        (click)="setPage(pager.totalPages)"
        class="bg-card h-10 w-10 pt-[6px] flex justify-center items-center cursor-pointer rounded-full page-item last-item" 
        [ngClass]="pager.currentPage === pager.totalPages ? 'disabled bg-disabled cursor-default' : 'bg-card cursor-pointer group hover:bg-primary'"
    >
        <a class="page-link">
            <mat-icon
                class="icon-size-4"
                [ngClass]="pager.currentPage === pager.totalPages ? '' : 'text-primary group-hover:text-white'"
                [svgIcon]="'heroicons_outline:chevron-double-right'"></mat-icon>
        </a>
    </li> -->
</ul>