<div class="flex flex-col items-center w-full h-full">
    
    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto my-5 px-5">
        <!-- Back button & sort -->
        <div class="flex flex-row items-center justify-between w-full max-w-280">
            <input
                id="go-back-button"
                type="button"
                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                [routerLink]="['/']"
                mat-button>
            <label 
                class="flex items-center justify-center h-10 pl-2 pr-4 border rounded border-primary-300 bg-primary hover:border-primary-500 cursor-pointer"
                for="go-back-button"
                matRipple>
                <mat-icon
                    class="sm:mr-1 text-white"
                    [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                <span class="hidden sm:block text-white">Back</span>
            </label>
            <!-- View orientation -->
            <div class="flex flex-row">
                <!-- List view -->
                <input
                    id="list-view-button"
                    type="button"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    (click)="productViewOrientation = 'list'"
                    mat-button>
                <label 
                    class="flex items-center justify-center h-10 px-1.5 cursor-pointer mr-2"
                    for="list-view-button"
                    matRipple>
                    <mat-icon
                        class="text-black dark:text-white"
                        [svgIcon]="'heroicons_outline:view-list'"></mat-icon>
                </label>

                <!-- Grid view -->
                <input
                    id="grid-view-button"
                    type="button"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    (click)="productViewOrientation = 'grid'"
                    mat-button>
                <label 
                    class="flex items-center justify-center h-10 px-1.5 cursor-pointer mr-2"
                    for="grid-view-button"
                    matRipple>
                    <mat-icon
                        class="text-black dark:text-white"
                        [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                </label>

                <!-- Sort -->
                <mat-select
                    class="hidden sm:block border border-gray-300 w-40 px-2 pt-3 rounded text-sm"
                    placeholder="Sort by Relevan"
                    [formControl]="sortInputControl"
                    #sortSelector="matSelect"
                    >
                    <mat-select-trigger>
                        <span class="flex items-center">
                            <span>{{ sortSelector.triggerValue }}</span>
                        </span>
                    </mat-select-trigger>
                    <ng-container>
                        <mat-option [value]="'asc'">Ascending</mat-option>
                        <mat-option [value]="'desc'">Descending</mat-option>
                    </ng-container>
                </mat-select>
                <!-- Sort for xs view -->
                <div class="sm:hidden">
                    <button
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Active</button>
                        <button mat-menu-item>Inactive</button>
                        <button mat-menu-item>Draf</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <!-- Catalogue Navigation -->
        <!-- <div class="flex flex-row items-center justify-between w-full max-w-280 mt-8 overflow-y-hidden overflow-x-auto bg-card bg-opacity-25 dark:bg-opacity-100 rounded-lg py-2 shadow">
            <ul class="flex flex-auto items-center justify-around">
                <li class="mr-6">
                    <a (click)="chooseCategory()" class="text-black hover:text-primary hover:text-lg hover:underline cursor-pointer">
                        <span class="truncate font-medium dark:text-white">All Products</span>
                    </a>
                </li>
                <ng-container *ngFor="let category of storeCategories">
                    <li class="mr-6">
                        <a (click)="chooseCategory(category.id)" class="text-black hover:text-primary hover:text-lg hover:underline cursor-pointer">
                            <span class="truncate font-medium dark:text-white" [value]="category.slug">{{category.name}}</span>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div> -->

        <!-- Container -->
        <div class="flex flex-col md:flex-row justify-between mt-10 w-full max-w-280">
            <!-- Search & Filter -->
            <div class="flex flex-col lg:pr-6">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Search products'">
                </mat-form-field>

                <!-- Filter -->
                <div class="flex flex-col mt-2 border border-gray-300 rounded-lg py-2 px-4 mb-4">
                    <!-- Price -->
                    <div class="flex flex-col">
                        <!-- <div class="flex flex-row items-center justify-between w-full">
                            <h3>Price</h3>
                            <input
                                id="filter-product-button"
                                type="button"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                mat-button>
                            <label 
                                class="flex items-center justify-center h-10 px-1.5 cursor-pointer mr-2"
                                for="filter-product-button"
                                matRipple>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                            </label>
                        </div> -->
                        <!-- Price Range Input -->
                        <!-- <div class="flex flex-row w-full px-2 mt-2">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-1/2">
                                <input
                                    matInput
                                    [autocomplete]="'off'"
                                    [placeholder]="'Min price'">
                            </mat-form-field>
                            <span class="p-2">-</span>
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-1/2">
                                <input
                                    matInput
                                    [autocomplete]="'off'"
                                    [placeholder]="'Max price'">
                            </mat-form-field>
                        </div> -->
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-row items-center justify-between cursor-pointer w-full"
                            (click)="collapseCategory = !collapseCategory">
                            <h3 class="font-semibold">Categories</h3>
                            <input
                                id="collapse-category-button"
                                type="button"
                                (click)="collapseCategory = !collapseCategory"
                                class="h-0 w-0 opacity-0 invisible pointer-events-none"
                                mat-button>
                            <label 
                                class="flex items-center justify-center cursor-pointer h-10"
                                for="collapse-category-button"
                                matRipple>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="collapseCategory ? 'heroicons_outline:chevron-up' : 'heroicons_outline:chevron-down'"></mat-icon>
                            </label>
                        </div>
                        <div @expandCollapse *ngIf="!collapseCategory">
                            <div class="border-t w-full"></div>
                            <mat-checkbox
                                [checked]="catalogueSlug === 'all-products' ? true : false"
                                value="all-products"
                                [disabled]="catalogueSlug === 'all-products' ? true : false"
                                (change)="changeCatalogue($event)"
                                class="flex items-center h-10 min-h-10 px-4"
                                [color]="'primary'">
                                All Products
                            </mat-checkbox>
                            <ng-container *ngFor="let category of storeCategories">
                                <mat-checkbox
                                    [checked]="catalogueSlug === getCategorySlug(category.name) ? true : false"
                                    [value]="getCategorySlug(category.name)"
                                    [disabled]="catalogueSlug === getCategorySlug(category.name) ? true : false"
                                    (change)="changeCatalogue($event)"
                                    class="flex items-center h-10 min-h-10 px-4"
                                    [color]="'primary'">
                                    {{category.name}}
                                </mat-checkbox>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Products -->
            <div class="flex flex-col flex-wrap relative w-full md:px-4">
                <ng-container *ngIf="products && products.length > 0; else noProduct">
                    <!-- Grid -->
                    <div *ngIf="productViewOrientation === 'grid'" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-8 sm:mb-10">
                        <!-- Products -->
                        <ng-container *ngFor="let product of products">
                            <!-- Product -->
                            <div class="flex flex-col h-120 shadow rounded-2xl overflow-hidden bg-card">
                                <!-- Product Header -->
                                <div class="flex flex-col p-3 h-60 bg-black bg-no-repeat bg-cover bg-center cursor-pointer" 
                                    [style]="product.thumbnailUrl ? 'background-image: url(\'' + product.thumbnailUrl + '\');' : 'background-image: url(\'' + store.storeAsset.logoUrl + '\');' + 'background-size: cover;'"
                                    [routerLink]="['/product/' + product.seoName]"
                                >
                                    <div class="flex items-center justify-between">
                                        <!-- Course category -->
                                        <ng-container>
                                            <div
                                                class="py-0.5 px-3 rounded text-xs font-semibold"
                                                [ngClass]="'text-primary-100 bg-primary-800 dark:text-primary-50 dark:bg-primary-500'">
                                                20% Off
                                            </div>
                                        </ng-container>
                                        <!-- Badges -->
                                        <!-- <div class="flex items-center">
                                            <ng-container>
                                                <mat-icon
                                                    class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:badge-check'"
                                                    [matTooltip]="'You completed this course at least once'"></mat-icon>
                                            </ng-container>
                                        </div> -->
                                    </div>                               
                                </div>
                                <!-- Product Footer -->
                                <div class="flex flex-col px-4 mb-4 h-60 w-full">
                                    <div class="mt-4 text-xl font-bold font-medium">{{product.name}}</div>
                                    <div class="mt-2 mb-4 h-40 text-ellipsis overflow-hidden">
                                        <span class="text-gray-500" [innerHtml]="product.description"></span>
                                    </div>
                                    <div class="text-sm font-semibold line-through">{{product.productInventories[0].price | currency: store.regionCountry.currencySymbol}}</div>
                                    <div class="font-semibold text-primary text-xl">{{product.productInventories[0].price | currency: store.regionCountry.currencySymbol}}</div>
                                    <!-- Input Quantity -->
                                    <!-- <div class="mt-4">
                                        <div class="flex flex-row justify-between items-center custom-number-input h-10 w-full">
                                            <div class="flex flex-row h-8 w-20 border rounded-lg relative bg-transparent mt-1">
                                                <button (click)="decrement()" class="text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                                    <span class="text-2xl font-thin">−</span>
                                                </button>
                                                <input [(ngModel)]="quantity"  type="number" class="outline-none focus:outline-none text-center w-full font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"/>
                                                <button (click)="increment()" class="text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                                    <span class="text-2xl font-thin">+</span>
                                                </button>
                                            </div>
                                            <p class="text-sm font-bold mr-4">Total: RM: 4.00</p>
                                        </div>
                                    </div> -->
                                    <!-- Checkout and Confirm Button -->
                                    <!-- <div class="flex flex-row justify-between py-4 text-right">
                                        <input
                                            id="cancel-add-item-btn"
                                            type="button"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                            mat-button>
                                        <label 
                                            class="flex items-center justify-center py-2 px-4 rounded-lg cursor-pointer border border-warn hover:bg-warn-500"
                                            for="cancel-add-item-btn"
                                            matRipple>
                                            <span>Cancel</span>
                                        </label>
        
                                        <input
                                            id="confirm-add-item-btn"
                                            type="button"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                            mat-button>
                                        <label 
                                            class="flex items-center justify-center py-2 px-4 rounded-lg cursor-pointer bg-primary hover:bg-primary-700"
                                            for="confirm-add-item-btn"
                                            matRipple>
                                            <span class="text-white">Confirm</span>
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!-- List -->
                    <div *ngIf="productViewOrientation === 'list'" class="w-full mb-8 sm:mb-10">
                        <ng-container *ngFor="let product of products">
                            <div class="flex flex-row h-48 w-full bg-card shadow rounded-2xl justify-between items-center mb-4">
                                <!-- Image Thumbnail -->
                                <div class="h-full w-52 rounded-l-2xl p-2 bg-black bg-no-repeat bg-cover bg-center cursor-pointer" 
                                    [style]="product.thumbnailUrl ? 'background-image: url(\'' + product.thumbnailUrl + '\');' : 'background-image: url(\'' + store.storeAsset.logoUrl + '\');' + 'background-size: cover;'"
                                    [routerLink]="['/product/' + product.seoName]"
                                >
                                    <div class="flex items-center justify-between">
                                        <!-- Course category -->
                                        <ng-container>
                                            <div
                                                class="py-0.5 px-3 rounded text-xs font-semibold"
                                                [ngClass]="'text-primary-100 bg-primary-800 dark:text-primary-50 dark:bg-primary-500'">
                                                20% Off
                                            </div>
                                        </ng-container>
                                        <!-- Badges -->
                                        <!-- <div class="flex items-center">
                                            <ng-container>
                                                <mat-icon
                                                    class="icon-size-5 text-green-600"
                                                    [svgIcon]="'heroicons_solid:badge-check'"
                                                    [matTooltip]="'You completed this course at least once'"></mat-icon>
                                            </ng-container>
                                        </div> -->
                                    </div>  
                                </div>
                                <!-- List Body -->
                                <div class="flex flex-row justify-between h-full w-full rounded-r-2xl text-ellipsis overflow-hidden">
                                    <div class="flex flex-col w-full p-6">
                                        <span class="text-xl h-10 font-bold mb-0 text-ellipsis overflow-hidden">{{product.name}}</span>
                                        <div class="mt-2 mb-4 h-20 text-ellipsis overflow-hidden">
                                            <span class="text-gray-500" [innerHtml]="product.description"></span>
                                        </div>
                                        <p class="font-semibold line-through">{{product.productInventories[0].price | currency: store.regionCountry.currencySymbol}}</p>
                                        <span class="text-xl font-semibold text-primary">{{product.productInventories[0].price | currency: store.regionCountry.currencySymbol}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- No Products -->
                <ng-template #noProduct>
                    <div class="flex flex-auto h-96 flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-20"
                            [svgIcon]="'iconsmind:file_search'"></mat-icon>
                        <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No products found!</div>
                    </div>
                </ng-template>

                <div class="mb-12"></div>
                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 rounded-lg shadow bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="pagination.length"
                    [pageIndex]="pagination.page"
                    [pageSize]="pagination.size"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
    </div>
</div>
