<div class="flex flex-col items-center w-full h-full">
    
    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto my-5 px-5">
        
        <!-- Container -->
        <div class="flex flex-col md:flex-row justify-between pt-5 sm:mt-10 w-full md:max-w-280 lg:pr-10">
            <!-- Contact information part -->
            <form
                class="flex justify-between flex-col md:flex-row w-full"
                [formGroup]="checkoutForm"
                #checkoutNgForm="ngForm">

                <ng-container *ngIf="!notificationMessage; else storeClosed">
                    <!-- Checkout form section -->
                    <div class="flex flex-col order-2 md:order-1 w-full mt-8 md:mt-0">
                        <!-- Store Pickup -->
                        <div class="flex flex-col sm:flex-row justify-between items-center w-full">
                            <h1 class="text-2xl font-bold">Contact Information</h1>
                            <div *ngIf="allowsStorePickup" class="flex flex-row">
                                <p class="mr-4">I want to pick my order from store</p>
                                <mat-slide-toggle
                                    [color]="'primary'"
                                    [formControlName]="'storePickup'"
                                    (change)="allowPickupStore();addressFormChanges();"
                                    >
                                </mat-slide-toggle>
                            </div>
                        </div>

                        <!-- For Normal delivery -->
                        <ng-container *ngIf="!checkoutForm.get('storePickup').value">
                            <!-- Full Name  & Email Address-->
                            <div class="w-full flex flex-col sm:flex-row pt-5 sm:pt-10">
                                <!-- First Name -->
                                <!-- <mat-form-field class="w-full sm:w-1/2 sm:pr-2" floatLabel="always">
                                    <mat-label>First Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'firstName'"
                                        placeholder="Enter first name"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                        <mat-error *ngIf="checkoutForm.get('firstName').hasError('required')">
                                            Required
                                        </mat-error>
                                </mat-form-field> -->
                                <!--Last Name -->
                                <!-- <mat-form-field class="w-full sm:w-1/2 sm:pl-2" floatLabel="always">
                                    <mat-label>Last Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'lastName'"
                                        placeholder="Enter last name"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('lastName').hasError('required')">
                                        Required
                                    </mat-error>
                                </mat-form-field> -->
        
                                <!-- Start New Design Here -->
                                <!-- Full name -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pr-1" floatLabel="always">
                                    <mat-label>Full Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'fullName'"
                                        placeholder="Enter full name"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                        <mat-error *ngIf="checkoutForm.get('fullName').hasError('required')">
                                            Required
                                        </mat-error>
                                </mat-form-field>
        
                                <!-- Email Address -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pl-1" floatLabel="always">
                                    <mat-label>Email Address</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'email'"
                                        (change)="checkCustomerInfo('email', this.checkoutForm.get('email').value)"
                                        placeholder="Enter email address"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('email').hasError('required')">
                                        Required
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('email').hasError('email')">
                                        Enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Phoonenumber & State -->
                            <div class="w-full flex flex-col sm:flex-row mb-4 sm:mb-0">
                                <!--Phone Number -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pr-1" floatLabel="always">
                                    <mat-label>Phone Number</mat-label>
                                    <input
                                        matInput
                                        (change)="checkCustomerInfo('phoneNumber', this.checkoutForm.get('phoneNumber').value)"
                                        [formControlName]="'phoneNumber'"
                                        placeholder="Enter phone number"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('phoneNumber').hasError('required')">
                                        Required
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('phoneNumber').hasError('invalidPhonenumber')">
                                        Invalid Phone number
                                    </mat-error>
                                </mat-form-field>
        
                                <!-- State -->
                                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-1/2 sm:pl-1" floatLabel="always">
                                    <mat-label>State</mat-label>
                                    <mat-select 
                                        [formControlName]="'state'"
                                        [required]="true"
                                        [placeholder]="'Select State'"
                                        (selectionChange)="checkoutForm.get('state').patchValue($event.value);"
                                        #stateSelector="matSelect">
                                        <mat-select-trigger>
                                            <span class="flex items-center">
                                                <span>{{ stateSelector.triggerValue }}</span>
                                            </span>
                                        </mat-select-trigger>
                                        <div *ngFor="let state of regionCountryStates">
                                            <mat-option [value]="state.id">{{state.name}}</mat-option>
                                        </div>
                                    </mat-select>
                                    <mat-error *ngIf="checkoutForm.get('state').hasError('required')">
                                        Required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <!-- For store pickup -->
                        <ng-container *ngIf="checkoutForm.get('storePickup').value">
                            <!-- Full name -->
                            <div class="w-full flex flex-col sm:flex-row pt-5 sm:pt-10">
                                <mat-form-field class="w-full" floatLabel="always">
                                    <mat-label>Full Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'fullName'"
                                        placeholder="Enter full name"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                        <mat-error *ngIf="checkoutForm.get('fullName').hasError('required')">
                                            Required
                                        </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Email & Phoonenumber -->
                            <div class="w-full flex flex-col sm:flex-row mb-4 sm:mb-0">
                                <!-- Email Address -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pr-1" floatLabel="always">
                                    <mat-label>Email Address</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'email'"
                                        (change)="checkCustomerInfo('email', this.checkoutForm.get('email').value)"
                                        placeholder="Enter email address"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('email').hasError('required')">
                                        Required
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('email').hasError('email')">
                                        Enter a valid email address
                                    </mat-error>
                                </mat-form-field>

                                <!--Phone Number -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pl-1" floatLabel="always">
                                    <mat-label>Phone Number</mat-label>
                                    <input
                                        matInput
                                        (change)="checkCustomerInfo('phoneNumber', this.checkoutForm.get('phoneNumber').value)"
                                        [formControlName]="'phoneNumber'"
                                        placeholder="Enter phone number"
                                        autocomplete="disabled"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('phoneNumber').hasError('required')">
                                        Required
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('phoneNumber').hasError('invalidPhonenumber')">
                                        Invalid Phone number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <!-- For Normal delivery -->
                        <ng-container *ngIf="!checkoutForm.get('storePickup').value">
                            <!-- City & Postcode -->
                            <div class="w-full flex flex-wrap sm:flex-nowrap sm:flex-row w-full mb-2">
                                <!--City -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pr-1" floatLabel="always">
                                    <mat-label>City</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'city'"
                                        placeholder="Enter city"
                                        autocomplete="disabled"
                                        (input)="addressFormChanges()"
                                        (change)="addressFormChanges()"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('city').hasError('required')">
                                        Required
                                    </mat-error>
                                </mat-form-field>
                                <!-- Postcode -->
                                <mat-form-field class="w-full sm:w-1/2 sm:pl-1" floatLabel="always">
                                    <mat-label>Postcode</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'postCode'"
                                        placeholder="Enter postcode"
                                        autocomplete="disabled"
                                        (input)="addressFormChanges()"
                                        (change)="addressFormChanges()"
                                        [required]="true"
                                        >
                                    <mat-error *ngIf="checkoutForm.get('postCode').hasError('required')">
                                        Required
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('postCode').hasError('invalidPostcode')">
                                        Invalid postcode
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('postCode').hasError('minlength')">
                                        Minimum length of postcode not meet
                                    </mat-error>
                                    <mat-error *ngIf="checkoutForm.get('postCode').hasError('maxlength')">
                                        Exceed maximum length of postcode
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <!-- Address -->
                        <div class="w-full">
                            <!-- Address -->
                            <mat-form-field *ngIf="!checkoutForm.get('storePickup').value"
                                class="w-full" 
                                floatLabel="always" 
                                >
                                <mat-label>Address</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'address'"
                                    placeholder="Enter address"
                                    autocomplete="disabled"
                                    (change)="addressFormChanges()"
                                    [required]="true">
                                <mat-error *ngIf="checkoutForm.get('address').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field *ngIf="checkoutForm.get('storePickup').value"
                                class="w-full" 
                                floatLabel="always"
                            >
                                <mat-label>Store Address</mat-label>
                                <textarea 
                                    class="text-gray-500"
                                    maxlength="500" 
                                    [value]="store.address + ' ' + store.city + ' ' + store.postcode + ' ' + store.regionCountryStateId + ' ' + store.regionCountry.name" 
                                    matTextareaAutosize 
                                    readonly
                                    matInput></textarea>
                                <textarea 
                                    class="text-gray-500"
                                    maxlength="500" 
                                    value="Contact Us &#13;&#10;Email: {{store.email}} &#13;&#10;Phone no: {{store.phoneNumber}}" 
                                    matTextareaAutosize 
                                    readonly
                                    matInput></textarea>
                            </mat-form-field>
                        </div>
                        <!-- Additional info & save future order -->
                        <div class="w-full">
                            <!-- Additional info -->
                            <mat-label class="font-light">Additional Information</mat-label>
                            <mat-form-field class="w-full" floatLabel="always">
                                <textarea
                                    matInput
                                    [formControlName]="'specialInstruction'"
                                    placeholder="Leave us a not e.g Pickup/delivery time or instruction"
                                    [rows]="5"
                                    maxlength="100"
                                    autocomplete="disabled"
                                    matTextareaAutosize></textarea>
                                <mat-label>Order Notes (Optional)</mat-label>
                                <input
                                    matInput
                                    >
                            </mat-form-field>
                            <!-- Save future order -->
                            <mat-checkbox
                                [formControlName]="'saveMyInfo'"
                                class="font-semibold">
                                Save my information for future order
                            </mat-checkbox>
                        </div>
                    </div>
                </ng-container>
                <ng-template #storeClosed>
                    <div class="flex flex-col order-1 justify-center items-center w-full bg-gray-100 border border-gray-300 px-5 mb-8 md:mb-0 rounded-lg">
                        <div class="mt-2 text-4xl md:text-4xl font-extrabold tracking-tight leading-tight md:leading-none text-primary text-center">Oops!</div>
                        <div class="mt-2 text-4xl md:text-6xl font-semibold tracking-tight leading-tight md:leading-none text-center">We are Closed!</div>
                        <div *ngIf="storeTimings.length > 0" class="mt-2 max-w-120 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">We are closed now our opening hours are as per below.</div>
                        <div class="mt-2 mb-4 text-center">
                            <ng-container *ngFor="let storeTiming of storeTimings">
                                <span>{{storeTiming.days.join(', ') | titlecase}}<br> <strong>{{storeTiming.timing}}</strong><br></span>
                            </ng-container>
                        </div>
                        <div class="mt-2 mb-4 text-center">
                            <span>* Your cart item information saved for your future visit</span>
                        </div>
                    </div>
                </ng-template>

                <!-- Cart summary section -->
                <div class="flex flex-col order-1 md:order-2 sm:min-w-100 md:pl-10">
                    <!-- Cart Summary -->
                    <div class="relative flex flex-col border border-gray-300 rounded-lg px-5 py-2">
                        <h1 class="text-xl font-bold py-2">Cart Summary</h1>
                        <!-- image & payment value details -->
                        <div class="flex flex-col">
                            <ng-container *ngIf="cartItems.length > 0 ;else noCartItems">
                                <!-- cart item details -->
                                <div class="h-60 leading-none overflow-y-auto">
                                    <ng-container *ngFor="let cartItem of cartItems">
                                        <div class="flex items-center py-2 border-b">
                                            <div class="relative flex flex-0 items-center justify-center w-16 h-16 mr-4 rounded overflow-hidden border">
                                                <img
                                                    class="w-32"
                                                    [alt]="'Product thumbnail image of ' + cartItem.productName"
                                                    [src]="cartItem.productAsset ? cartItem.productAsset.url : cartItem.productInventory.product.thumbnailUrl ? cartItem.productInventory.product.thumbnailUrl : store.storeAsset.logoUrl">
                                                <div
                                                    class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase">
                                                </div>
                                            </div>
                                            <div class="flex flex-col justify-between py-1 w-full h-20">
                                                <div class="flex flex-row justify-between">
                                                    <h1 class="font-semibold mb-1">{{cartItem.productName}}</h1>
                                                    <mat-icon
                                                        (click)="deleteCartItem(cartItem)"
                                                        class="text-gray-500 icon-size-4 cursor-pointer"
                                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                </div>
                                                <div class="flex flex-row justify-between items-center w-full">
                                                    <div class="flex flex-col">
                                                        <div class="flex flex-row mb-1 truncate max-w-36 sm:max-w-full md:max-w-36">
                                                            <!-- Display variants -->
                                                            <ng-container *ngIf="cartItem.productInventory.productInventoryItems.length > 0">
                                                                <ng-container *ngFor="let variant of cartItem.productInventory.productInventoryItems">
                                                                    <span class="px-1 py-0.5 mr-1 text-sm font-semibold rounded-lg bg-primary-400">{{variant.productVariantAvailable.value}}</span>
                                                                </ng-container>
                                                            </ng-container>
                                                            <!-- Display Combo -->
                                                            <ng-container *ngIf="cartItem.cartSubItem.length > 0">
                                                                <ng-container  *ngFor="let combo of cartItem.cartSubItem">
                                                                    <span class="px-1 py-0.5 mr-1 text-sm font-semibold rounded-lg bg-primary-400">{{combo.productName}}</span>
                                                                </ng-container>
                                                            </ng-container>
                                                        </div>
                                                        <h1 class="text-sm text-gray-400 line-through">{{cartItem.normalPrice | currency: store.regionCountry.currencySymbol}}</h1>
                                                        <h1 class="font-semibold text-primary">{{cartItem.productPrice | currency: store.regionCountry.currencySymbol}} x {{cartItem.quantity}}</h1>
                                                        <h1 *ngIf="cartItem.specialInstruction" class="text-xs mt-1 text-gray-500 truncate max-w-32 sm:max-w-full md:max-w-32">Instruction: {{cartItem.specialInstruction}}</h1>
                                                    </div>
                                                    <div class="flex flex-row h-6 w-14 rounded-lg relative border border-primary mt-1">
                                                        <button (click)="updateQuantity(cartItem, cartItem.quantity, 'decrement')" type="button" class="text-gray-700 h-full w-14 rounded-l-lg cursor-pointer outline-none">
                                                            <span class="text-xl">−</span>
                                                        </button>
                                                        <input 
                                                            class="outline-none focus:outline-none text-center w-full font-semibold text-md text-gray-700 focus:text-gray-700 md:text-basecursor-default flex items-center outline-none" 
                                                            name="custom-input-number"
                                                            (change)="updateQuantity(cartItem, $event.target.value)"
                                                            type="number" 
                                                            [value]="cartItem.quantity"/>
                                                        <button (click)="updateQuantity(cartItem, cartItem.quantity, 'increment')" type="button" class="text-gray-700 items-center h-full w-14 rounded-r-lg cursor-pointer">
                                                            <span class="text-xl">+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>

                            <!-- No Cart Items -->
                            <ng-template #noCartItems>
                                <div class="flex flex-auto h-80 flex-col items-center justify-center rounded dark:bg-transparent">
                                    <mat-icon
                                        class="text-gray-400 icon-size-20"
                                        [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No item in cart</div>
                                </div>
                            </ng-template>
                        </div>
                        <!-- payment details & grand total -->
                        <div>
                            <!-- payment details -->
                            <div class="py-2 border-t w-full">
                                <!-- Order Section -->
                                <div class="flex flex-row w-full justify-between py-1">
                                    <p class="font-semibold text-gray-500">Sub Total</p> 
                                    <span class="font-semibold">{{paymentDetails.cartSubTotal | currency: store.regionCountry.currencySymbol}}</span>
                                </div>
                                <ng-container *ngIf="paymentDetails.subTotalDiscount !== 0">
                                    <div class="flex flex-row w-full justify-between py-1">
                                        <div class="flex flex-col">
                                            <p class="font-semibold text-gray-500">
                                                <span>Order Discount</span>
                                                <span *ngIf="paymentDetails.subTotalDiscountDescription">&nbsp;({{paymentDetails.subTotalDiscountDescription}})</span>
                                            </p>
                                            <span class="text-xs text-gray-500" *ngIf="paymentDetails.discountMaxAmount != 0 && paymentDetails.subTotalDiscount >= paymentDetails.discountMaxAmount && paymentDetails.subTotalDiscount != 0">
                                                Capped at {{paymentDetails.discountMaxAmount | currency: store.regionCountry.currencySymbol }}
                                            </span>
                                        </div>
                                        <span class="font-semibold">-{{paymentDetails.subTotalDiscount | currency: store.regionCountry.currencySymbol}}</span>
                                    </div>
                                </ng-container>
                                <div class="flex flex-row w-full justify-between py-1">
                                    <p class="font-semibold text-gray-500">Service Charges ({{paymentDetails.storeServiceChargePercentage | number}}%)</p> 
                                    <span class="font-semibold">{{paymentDetails.storeServiceCharge | currency: store.regionCountry.currencySymbol}}</span>
                                </div>
                                <!-- Delivery Section -->
                                <ng-container *ngIf="deliveryProviders.length > 0 && checkoutForm.get('storePickup').value === false">
                                    <div class="flex flex-row w-full mt-2">
                                        <mat-form-field class="w-full rounded text-sm">
                                            <mat-select
                                                [formControlName]="'deliveryProviderId'"
                                                placeholder="Select a delivery provider"
                                                (selectionChange)="changeDeliveryProvider(deliveryProviderSelector.value)"
                                                #deliveryProviderSelector="matSelect"
                                                >
                                                <mat-select-trigger>
                                                    <span class="flex items-center justify-between w-full">
                                                        <span>{{ deliveryProviderSelector.triggerValue }}</span>
                                                        <img
                                                            matSuffix
                                                            class="w-1/3 max-h-10"
                                                            *ngIf="selectedDeliveryProvider && selectedDeliveryProvider.providerImage"
                                                            [alt]="'Delivery provider image'"
                                                            [src]="selectedDeliveryProvider.providerImage">
                                                    </span>
                                                </mat-select-trigger>
                                                <ng-container *ngFor="let deliveryProvider of deliveryProviders">
                                                        <mat-option 
                                                            [value]="deliveryProvider.providerId">
                                                            <div class="flex flex-row justify-between">
                                                                <span class="w-2/3">{{deliveryProvider.providerName}}</span>
                                                                <img
                                                                    matSuffix
                                                                    class="w-1/3 max-h-10"
                                                                    *ngIf="deliveryProvider.providerImage"
                                                                    [alt]="'Delivery provider image'"
                                                                    [src]="deliveryProvider.providerImage">
                                                            </div>
                                                        </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="checkoutForm.get('deliveryProviderId').hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                <div class="flex flex-row w-full justify-between py-1">
                                    <span class="font-semibold text-gray-500">Delivery Charges</span> 
                                    <span class="font-semibold">{{paymentDetails.deliveryCharges | currency: store.regionCountry.currencySymbol}}</span>
                                </div>
                                <ng-container *ngIf="paymentDetails.deliveryDiscount !== 0">
                                    <div class="flex flex-row w-full justify-between py-1">
                                        <div class="flex flex-col">
                                            <p class="font-semibold text-gray-500">
                                                <span>Delivery Discount</span>
                                                <span *ngIf="paymentDetails.deliveryDiscountDescription">&nbsp;({{paymentDetails.deliveryDiscountDescription}})</span>
                                            </p>
                                            <span class="text-xs text-gray-500" *ngIf="paymentDetails.deliveryDiscountMaxAmount != 0 && paymentDetails.deliveryDiscount >= paymentDetails.deliveryDiscountMaxAmount && paymentDetails.deliveryDiscount != 0">
                                                Capped at {{paymentDetails.deliveryDiscountMaxAmount | currency: store.regionCountry.currencySymbol }}
                                            </span>
                                        </div>
                                        <span class="font-semibold">-{{paymentDetails.deliveryDiscount | currency: store.regionCountry.currencySymbol}}</span>
                                    </div>
                                </ng-container>
                            </div>
                            <!-- grand total -->
                            <div class="flex flex-row w-full border-t justify-between py-2">
                                <span class="font-semibold text-gray-500">Grand Total</span> 
                                <span class="font-semibold">{{paymentDetails.cartGrandTotal | currency: store.regionCountry.currencySymbol}}</span>
                            </div>
                        </div>
                        <!-- Calculate price button -->
                        <ng-container *ngIf="!notificationMessage && (paymentCompletionStatus.id !== 'CALCULATE_CHARGES' || currentScreenSize.includes('md') === true)">
                            <button
                                [disabled]="isLoading" 
                                class="my-2 w-auto font-semibold p-2 rounded"
                                [ngClass]="isLoading ? 'cursor-wait bg-gray-200' : 'bg-green-500'"
                                (click)="executeAction(paymentCompletionStatus.id)">
                                <span>
                                    {{ paymentCompletionStatus.label }}
                                </span>
                            </button>
                        </ng-container>
                        <div *ngIf="isCalculating === true && currentScreenSize.includes('md') === false" class="absolute flex justify-center items-center w-full h-full top-0 bottom-0 left-0 right-0 bg-black opacity-60 rounded-lg">
                            <img class="w-6 pr-2" src="assets/gif/loading.gif" alt="loading">
                            <span class="text-white font-semibold">Calculating...</span> 
                        </div>
                    </div>
                </div>

                <!-- Calculate price button -->
                <ng-container *ngIf="!notificationMessage && paymentCompletionStatus.id === 'CALCULATE_CHARGES' && currentScreenSize.includes('md') === false">
                    <button
                        [disabled]="isLoading" 
                        class="order-3 my-2 w-auto font-semibold mt-4 p-2 rounded"
                        [ngClass]="isLoading ? 'cursor-wait bg-gray-200' : 'bg-green-500'"
                        (click)="executeAction(paymentCompletionStatus.id)"
                        (click)="scroll()"
                    >
                        <span>
                            {{ paymentCompletionStatus.label }}
                        </span>
                    </button>
                </ng-container>
            </form>
        </div>
    </div>
</div>