<ng-container>
    <div class="flex flex-row">
        <div 
            class="absolute left-0 md:bottom-[40%] bottom-[30%] z-20 flex items-center h-20 w-8 md:w-12 bg-black bg-opacity-10 hover:bg-opacity-20 duration-150 justify-center cursor-pointer"
            (click)="swipePrev()"
            >
            <mat-icon
                class="text-white icon-size-8 md:icon-size-12"
                [svgIcon]="'feather:chevron-left'"></mat-icon>
        </div>
        
        <swiper
            [slidesPerView]="1"
            [slidesPerGroup]="1"
            [navigation]="false"
            [pagination]="{
                clickable: true
                }"
            [autoplay]="{
                delay: 5000,
                disableOnInteraction: false
                }"
            [loop]="true"
            class="mySwiper"
            >
            <ng-container *ngIf="currentScreenSize.includes('sm'); else mobileImages">
                <ng-template swiperSlide *ngFor="let image of galleryImages">
                    <div class="flex flex-col items-center justify-center cursor-pointer md:h-96 h-56 w-full">
                        <img
                            class=""
                            [src]="image"
                            alt="Logo image">
                    </div>
                </ng-template>
            </ng-container>
            <ng-template #mobileImages>
                <ng-template swiperSlide *ngFor="let image of mobileGalleryImages">
                    <div class="flex flex-col items-center justify-center cursor-pointer md:h-96 h-56 w-full">
                        <img
                            class=""
                            [src]="image"
                            alt="Logo image">
                    </div>
                </ng-template>
            </ng-template>
        </swiper>
        <div 
            class="absolute right-0 md:bottom-[40%] bottom-[30%] z-20 flex items-center h-20 w-8 md:w-12 bg-black bg-opacity-10 hover:bg-opacity-20 duration-150 justify-center cursor-pointer"
            (click)="swipeNext()"
            >
            <mat-icon
                class="text-white icon-size-8 md:icon-size-12"
                [svgIcon]="'feather:chevron-right'"></mat-icon>
        </div>
    </div>
</ng-container>