    <mat-drawer-container class="w-full h-72 md:rounded-3xl shadow" style="background-image: url('https://cinema-online.symplified.ai/assets/image/banner_sales.png'); background-size: cover;">
        <!-- <img class="object-cover w-full h-full" src="assets/images/example/banner.png"> -->
        <mat-drawer class="h-full"
            #matDrawer>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col h-full w-full">
            <mat-tab-group
                class="fuse-mat-no-header h-full"
                [animationDuration]="'200'"
                #courseSteps>
                <ng-container *ngFor="let discount of discounts; trackBy: trackByFn">
                    <mat-tab class="h-full">
                        <ng-template matTabContent>
                            <div class="prose prose-sm w-full h-full py-4 px-2 md:rounded-2xl bg-black bg-opacity-75 text-white">
                                <h1 class="mb-0 text-white">{{discount.discountName}}</h1>
                                <span>{{discount.startDate | date: 'longDate'}} to {{discount.endDate | date: 'longDate'}}</span>
                                <h2 class="mb-0 text-white">{{discount.discountAmount}}% Off</h2>
                                <ng-container *ngIf="discount.startTotalSalesAmount > 0; else noMinDiscountLimit">
                                    <p class="my-0">Total spend from {{discount.startTotalSalesAmount | currency: '$'}}</p>
                                </ng-container>
                                <ng-template #noMinDiscountLimit>
                                    <p class="my-0">Total spend on any amount</p>
                                </ng-template>
                                <p class="mt-0 mb-4">Discount automatically applied on all orders at check out</p>
                            </div>
                        </ng-template>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
    
            <!-- Desktop -->
            <div class="z-10 w-full hidden lg:flex absolute bottom-2">
                <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-primary">
                    <button
                        class="flex-0"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="goToPreviousStep()">
                        <mat-icon
                            class="mr-2"
                            [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                        <span class="mr-1">Prev</span>
                    </button>
                    <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                        <span>{{currentStep + 1}}</span>
                        <span class="mx-0.5 text-hint">/</span>
                        <span>{{storeDiscounts.length}}</span>
                    </div>
                    <button
                        class="flex-0"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="goToNextStep()">
                        <span class="ml-1">Next</span>
                        <mat-icon
                            class="ml-2"
                            [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                    </button>
                </div>
            </div>
    
            <!-- Mobile -->
            <div class="z-10 w-full flex lg:hidden absolute bottom-0 items-center border-t bg-card">
                <div class="flex items-center justify-center ml-1 lg:ml-2 font-medium leading-5">
                    <span>{{currentStep + 1}}</span>
                    <span class="mx-0.5 text-hint">/</span>
                    <span>{{storeDiscounts.length}}</span>
                </div>
                <mat-progress-bar
                    class="flex-auto ml-6 rounded-full"
                    [value]="100 * (currentStep + 1) / storeDiscounts.length"></mat-progress-bar>
                <button
                    class="ml-4"
                    mat-icon-button
                    (click)="goToPreviousStep()">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                </button>
                <button
                    class="ml-0.5"
                    mat-icon-button
                    (click)="goToNextStep()">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                </button>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
