<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 bg-blue">
            <!-- Logo , Title , Description-->
            <app-shared-logo [titleText]="titleText" [descriptionText]="descriptionText"></app-shared-logo>


            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-icon svgIcon="mat_outline:email" class="text-gray-300"></mat-icon>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'username'"
                        placeholder="Email" class="px-2" >
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('username').hasError('username')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-icon svgIcon="mat_outline:lock" class="text-gray-300"></mat-icon>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        placeholder="Password"
                        class="px-2"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'mat_outline:visibility'"
                            class="text-gray-300"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'mat_outline:visibility_off'"
                            class="text-gray-300"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        <p class="text-gray-400">
                            Remember me
                        </p>
                       
                    </mat-checkbox>
                    <a
                        class="text-md font-medium hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    class="w-full mt-6 font-semibold p-2 rounded h-10"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Separator -->
                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary text-gray-400">Or continue with</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Single sign-on buttons -->
                <div class="grid justify-items-center mt-8 space-x-4">
            
                    <div class="flex justify-center">
                        
                        <div class="mr-2">
                            <button mat-fab color="">
                                <img src = "assets/social-media/google-svgrepo.svg" style="width: 25px;height: 25px;" />
                            </button>
                        </div>
    
                        <div class="mr-2">
                            <button mat-fab color="">
                                
                                <img src = "assets/social-media/facebook-svgrepo.svg" style="width: 25px;height: 25px;" />
        
                            </button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-primary dark:border-l">
        <app-shared-background></app-shared-background>
    </div>
</div>
