<ng-template #bannerPanel>
    <ng-container *ngIf="image">
        <div class="z-99 w-full h-full flex flex-row fixed justify-center items-center" (click)="backdropClick()">
            <div class="flex justify-center w-full">
                <div class="relative w-[75%] md:w-[30%]">
                    <img
                        (click)="uponClicked(); $event.stopPropagation()"
                        class="object-cover object-center cursor-pointer"
                        [src]="image"
                        alt="Logo image">
                    <div class="absolute bg-white rounded-full h-6 w-6 bg-opacity-70 top-0 right-0">
                        <span 
                            (click)="closeMessage(); $event.stopPropagation()"
                            class="cursor-pointer">
                            <mat-icon 
                                class="text-black"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>