<!-- Button -->
<ng-container *ngIf="user; else notLoggedIn">
    <button
        mat-icon-button
        [matMenuTriggerFor]="userActions">
            <span class="relative">
                <img
                    class="w-7 h-7 rounded-full"
                    *ngIf="showAvatar && user.avatar"
                    [src]="user.avatar">
                <mat-icon
                    *ngIf="!showAvatar || !user.avatar"
                    class="text-primary"
                    [svgIcon]="'heroicons_solid:user'"></mat-icon>
                <span
                    class="absolute right-0 bottom-0 w-2 h-2 rounded-full"
                    [ngClass]="{'mr-px mb-px': !showAvatar || !user.avatar,
                                'bg-green-500': user.status === 'online',
                                'bg-amber-500': user.status === 'away',
                                'bg-red-500': user.status === 'busy',
                                'bg-gray-400': user.status === 'not-visible'}"
                ></span>
            </span>
    </button>
</ng-container>
<ng-template #notLoggedIn>
    <div class="flex flex-row mr-2 md:mr-0 sm:ml-2 md:w-32 md:pl-2 md:pr-2 items-center md:bg-primary rounded-sm">
        <div class="flex items-center">
            <span (click)="customerLogin()" class="hidden md:block cursor-pointer font-medium text-white">Sign In</span>
            <mat-icon
                (click)="customerLogin()"
                class="block md:hidden text-primary cursor-pointer"
                [svgIcon]="'mat_solid:login'"></mat-icon>
        </div>
        <span class="text-gray-300">&nbsp;|&nbsp;</span>
        <div class="flex items-center">
            <span (click)="customerRegister()" class="hidden md:block cursor-pointer font-medium text-white">Sign Up</span>
            <mat-icon
                (click)="customerRegister()"
                class="block md:hidden text-primary cursor-pointer"
                [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
        </div>
    </div>
</ng-template>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item
        class="hover:bg-white">
        <span class="flex flex-col leading-none">
            <span class="font-semibold text-lg">{{user?.name}}</span>
            <span class="mt-1.5 text-md font-medium">{{user?.email}}</span>
        </span>
    </button>
    <mat-divider class="my-0"></mat-divider>
    <button mat-menu-item
        class="hover:bg-primary group"
        (click)="editProfile()">
        <mat-icon class="group-hover:text-white text-primary" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span class="group-hover:text-white">Profile</span>
    </button>
    <mat-divider class="my-0"></mat-divider>
    <button mat-menu-item
        class="hover:bg-primary group"
        (click)="ordersRedirect()">
        <mat-icon class="group-hover:text-white text-primary" [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
        <span class="group-hover:text-white">My Orders</span>
    </button>
    <!-- <button
        mat-menu-item
        [matMenuTriggerFor]="userStatus">
        <mat-icon [svgIcon]="'heroicons_outline:dots-circle-horizontal'"></mat-icon>
        <span>Status</span>
    </button> -->
    <mat-divider class="my-0"></mat-divider>
    <button
        class="hover:bg-primary group"
        mat-menu-item
        (click)="customerLogout()">
        <mat-icon class="group-hover:text-white text-primary" [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span class="group-hover:text-white">Sign out</span>
    </button>
</mat-menu>

