<div class="flex flex-col items-center w-full h-full">

    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto p-2 sm:px-0">
     
        <!-- Container -->
        <div class="flex flex-col md:flex-row justify-between w-full md:mt-14">
            
            <div class="flex flex-col flex-auto w-full">

                <!-- Products -->
                <ng-container *ngIf="product;else noProduct">
                    <div class="flex flex-col md:flex-row w-full">
    
                        <!-- Product Assets -->
                        <div class="flex justify-center w-full md:w-140">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </div>
                        
                        <!-- Product Details -->
                        <div class="flex flex-col w-full md:w-1/2">
                            <!-- Title -->
                            <div class="justify-start items-center mt-2 md:mt-0 pb-2">
                                <span class="mb-2 text-3xl sm:text-4xl font-semibold items-center">{{product.name}}</span>
                                <!-- <span *ngIf="displayedProduct.discountAmount>0" class="mb-2 py-1 px-3 rounded text-sm font-semibold mx-2 items-center" [ngClass]="'text-primary-100 bg-red-600'">      
                                    {{displayedProduct.discountAmount}}% Off
                                </span> -->
                            </div>
                            <!-- Price -->
                            <div *ngIf="displayedProduct.discountAmount>0;else noItemDiscount" class="mb-2">
                                <p class="font-semibold items-center">Price: &nbsp; 
                                    <span style="text-decoration: line-through;" class="px-2">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span> 
                                    <span class="text-xl font-semibold text-primary px-2 ">{{displayedProduct.discountedPrice | currency: store.regionCountry.currencySymbol}}</span> 
                                    <span class="mb-2 py-1 px-3 rounded text-sm font-semibold mx-2 items-center" [ngClass]="'text-primary-100 bg-red-600'">{{displayedProduct.discountAmount}}% Off</span> 
                                </p>
                            </div>
                            <ng-template #noItemDiscount>
                                <p class="font-semibold">Price: &nbsp; <span class="text-xl font-semibold text-primary px-2 ">{{displayedProduct.price | currency: store.regionCountry.currencySymbol}}</span> </p>
                            </ng-template>
                            <!-- Details -->
                            <div class="mb-2 pt-4">
                                <p class="mb-2 font-semibold">Details:</p> <span class="text-sm font-normal" [innerHTML]="product.description"></span>
                            </div>
                            <!-- Variants / Combo -->
                            <ng-container *ngIf="!product.isPackage; else comboProduct">
                                <!-- Variants -->
                                <fieldset 
                                    [id]="variant.name" 
                                    *ngFor="let variant of product.productVariants; let i = index;"
                                    class="py-1">
                                    <label class="font-semibold" for="{{variant.name}}">{{variant.name | titlecase }} : </label>
                                    <ul class="grid grid-cols-2 my-2">
                                        <li *ngFor="let option of variant.productVariantsAvailable; let i = index;" class="flex items-center">
                                            <input type="radio"
                                                class=""
                                                id="{{variant.name + i}}" 
                                                value="{{option.value}}" 
                                                name="{{variant.name}}" 
                                                [checked]="selectedVariants.indexOf(option.id) > -1"
                                                (change)="onChangeVariant(option.id, variant.name, option.productId)"
                                            >
                                            <label class="pl-2" for="{{variant.name + i}}">{{option.value}}</label>
                                            <!-- <label for="{{variant.name + i}}">{{option.value}} / {{ selectedVariants.indexOf(option.id) }} / {{option.id}}</label> -->
                                        </li>
                                    </ul>
                                </fieldset>
                            </ng-container>
                            <ng-template #comboProduct>
                                <!-- Combo -->
                                <fieldset 
                                    [id]="combo.title" 
                                    *ngFor="let combo of combos; let i = index;"
                                    class="py-1">
                                    <label class="font-semibold" for="{{combo.title}}">{{combo.title | uppercase}} : (Select {{ combo.totalAllow }} of {{ combo.productPackageOptionDetail.length }})</label>
                                    <ul class="grid grid-cols-2">
                                        <li *ngFor="let option of combo.productPackageOptionDetail; let i = index;" class="flex items-center">
                                            <input type="checkbox" 
                                                [id]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                                [value]="option.productId" 
                                                [name]="'combo-checkbox-' + combo.id + '-' + option.productId"
                                                [checked]="selectedCombo[combo.id].indexOf(option.productId) > -1"
                                                (change)="onChangeCombo(combo.id, option.productId, $event)"
                                            >
                                            <label class="pl-2" [for]="'combo-checkbox-' + combo.id + '-' + option.productId">{{option.product.name}}</label>
                                            <!-- <label for="{{variant.name + i}}">{{option.value}} / {{ selectedVariants.indexOf(option.id) }} / {{option.id}}</label> -->
                                        </li>
                                    </ul>
                                </fieldset>
                            </ng-template>
    
                            <!-- Quantity -->
                            <div class="flex flex-row justify-between items-center">
                                <span class="font-semibold">Quantity:</span> 
                                <div class="flex flex-row h-8 w-20 rounded-lg relative bg-primary mt-1">
                                    <button (click)="checkQuantity('decrement')" class="text-black hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l-lg cursor-pointer outline-none pb-2">
                                        <span class="text-2xl">−</span>
                                    </button>
                                    <input [(ngModel)]="quantity" (change)="checkQuantity()" type="number" class="outline-none focus:outline-none text-center w-full font-semibold text-md text-black focus:text-black md:text-basecursor-default flex items-center outline-none" name="custom-input-number" value="0"/>
                                    <button (click)="checkQuantity('increment')" class="text-black hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r-lg cursor-pointer pb-2">
                                        <span class="text-2xl">+</span>
                                    </button>
                                </div>
                            </div>
    
                            <!-- Special Instruction -->
                            <form [formGroup]="specialInstructionForm">
                                <div class="w-full mt-2">
                                    <span class="font-semibold">Special Instruction{{ product.isNoteOptional === false ? ' (required)' : ''}}:</span> 
                                    <mat-form-field class="mt-2 fuse-mat-textarea w-full" floatLabel="always">
                                        <!-- [(ngModel)]="specialInstruction" -->
                                        <textarea
                                            [ngClass]="'border border-red-600'"
                                            matInput
                                            [formControlName]="'specialInstructionValue'"
                                            maxlength="500"
                                            [rows]="5"
                                            [placeholder]="product.customNote ? product.customNote : 'Make it special'"
                                            [required]="product.isNoteOptional === false"
                                            matTextareaAutosize></textarea>
                                            <mat-error *ngIf="specialInstructionForm.get('specialInstructionValue').hasError('required')">
                                                Oops! The special instruction is required for this item
                                            </mat-error>
                                    </mat-form-field>
                                </div>

                            </form>

                            <div class="flex flex-row w-full justify-between mb-2">
                                <p class="font-semibold">Sub Total:</p> 
                                <ng-container *ngIf="displayedProduct.discountAmount>0;else noItemDiscountSubTotal">
                                    <span class="text-xl font-semibold px-2 ">{{(displayedProduct.discountedPrice * quantity) | currency: store.regionCountry.currencySymbol}}</span>
                                </ng-container>
                                <ng-template #noItemDiscountSubTotal>
                                    <span class="text-xl font-semibold px-2 ">{{(displayedProduct.price * quantity) | currency: store.regionCountry.currencySymbol}}</span>
                                </ng-template>
                            </div>
    
                            <!-- Add to cart / checkoout -->
                            <div class="w-full flex flex-row justify-between items-center">
                                <!-- Add to cart -->
                                <!-- [disabled]="!specialInstruction && product.isNoteOptional === false" -->
                                <!-- [ngClass]="!specialInstruction && product.isNoteOptional === false ? 'cursor-default bg-gray-200' : 'cursor-pointer border-primary-300 bg-primary hover:border-primary-500'" -->
                                <input
                                    id="add-to-cart-button"
                                    type="button"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    (click)="addToCart()"
                                    mat-button>
                                <label 
                                    class="flex items-center justify-center w-5/12 sm:w-2/5 h-10 px-2 border rounded-lg cursor-pointer border-primary-300 bg-primary hover:border-primary-500"
                                    for="add-to-cart-button"
                                    matRipple>
                                    <span class="text-sm font-semibold text-black">Add to Cart</span>
                                    <mat-icon
                                        class="hidden sm:block pl-1 text-black transform scale-75"
                                        [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                                </label>
    
                                <!-- Checkout -->
                                <input
                                    id="go-checkout-button"
                                    type="button"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    [routerLink]="['/checkout']"
                                    mat-button>
                                <label 
                                    class="flex items-center justify-center w-5/12 sm:w-2/5 h-10 px-2 border rounded-lg border-green-300 bg-green-500 hover:border-green-500 cursor-pointer"
                                    for="go-checkout-button"
                                    matRipple>
                                    <span class="text-sm font-semibold text-black">Checkout</span>
                                    <mat-icon
                                        class="hidden sm:block pl-1 text-black transform scale-75"
                                        [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                                </label>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- No Product -->
                <ng-template #noProduct>
                    <div class="flex flex-auto flex-col items-center justify-center h-56 border-gray-300 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-20"
                            [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                        <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Product not found!</div>
                    </div>
                </ng-template>
            </div>
            
        </div>
    </div>
</div>