<div class="flex flex-col items-center w-full h-full">
    <!-- Header -->
    <div class="flex items-center w-full">
        <store-header class="w-full"></store-header>
    </div>

    <!-- Breadcrumbs -->
    <div class="flex items-center w-full">
        <breadcrumb class="w-full"></breadcrumb>
    </div>
    
    <!-- Main menu -->
    <div class="flex flex-col items-center w-full h-auto md:my-20">
        <!-- Back button & sort -->
        <div class="flex flex-row items-center justify-between w-full max-w-280">
            <input
                id="go-back-button"
                type="button"
                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                (click)="goToCatalogue()"
                mat-button>
            <label 
                class="flex items-center justify-center h-10 pl-2 pr-4 border rounded border-primary-300 bg-primary hover:border-primary-500 cursor-pointer"
                for="go-back-button"
                matRipple>
                <mat-icon
                class="mr-1 text-white"
                [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                <span class="text-white">Back</span>
            </label>
        </div>
        
        <!-- Container -->
        <div class="flex flex-col md:flex-row justify-between mt-10 w-full md:max-w-280">
            <!-- Products -->
            <div class="flex flex-col flex-auto w-full sm:max-w-xs sm:max-w-5xl mx-auto md:ml-10">
                <div class="flex flex-col md:flex-row w-full">

                    <!-- Product Assets -->
                    <div class="px-5 sm:px-20 w-full md:w-1/2 md:w-140">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                    
                    <!-- <div class="grid grid-cols-3 gap-5 px-5 sm:px-20 w-full md:w-1/2 md:w-140">
                        <div class="col-span-3 rounded shadow-lg">
                            <img class="object-cover w-full h-96" src="https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
                        </div>
                        <div class="rounded shadow-lg">
                            <img class="object-cover w-full h-32" src="https://images.pexels.com/photos/3184339/pexels-photo-3184339.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
                        </div>
                        <div class="rounded shadow-lg">
                            <img class="object-cover w-full h-32" src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
                        </div>
                        <div class="rounded shadow-lg">
                            <img class="object-cover w-full h-32" src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
                        </div>
                    </div> -->
                    
                    <!-- Product Details -->
                    <div class="flex flex-col px-5 sm:px-20 w-full md:w-1/2">
                        <h1 class="text-2xl font-semibold mt-5 sm:mt-10 md:mt-0">{{product.name}}</h1>
                        <div>
                            <p>Price: <span class="text-lg font-semibold">{{product.productInventories[0].price | currency: store.regionCountry.currencySymbol}}</span> </p>
                        </div>
                        <div>
                            <p>Details:</p> <span class="text-sm font-semibold" [innerHTML]="product.description"></span>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <span>Quantity:</span> 
                            <div class="flex flex-row h-8 w-20 border rounded-lg relative bg-primary mt-1">
                                <button (click)="decrement()" class="text-white hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                    <span class="text-2xl">−</span>
                                </button>
                                <input [(ngModel)]="quantity"  type="number" class="outline-none focus:outline-none text-center w-full font-semibold text-md text-white focus:text-white  md:text-basecursor-default flex items-center outline-none" name="custom-input-number" value="0"/>
                                <button (click)="increment()" class="text-white  hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                    <span class="text-2xl">+</span>
                                </button>
                            </div>
                        </div>
                        <div class="w-full mt-4">
                            <span>Special Instruction:</span> 
                            <mat-form-field class="fuse-mat-textarea w-full" floatLabel="always">
                                <textarea
                                    matInput
                                    maxlength="500"
                                    placeholder="Make it special"
                                    [required]="true"
                                    [rows]="5"
                                    matTextareaAutosize></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-full flex flex-row justify-between items-center">
                            <input
                                id="go-back-button"
                                type="button"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                mat-button>
                            <label 
                                class="flex items-center justify-center h-10 px-2 border rounded border-primary-300 bg-primary hover:border-primary-500 cursor-pointer"
                                for="go-back-button"
                                matRipple>
                                <span class="text-sm text-white">Add to Cart</span>
                                <mat-icon
                                    class="ml-1 text-white transform scale-75"
                                    [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                            </label>

                            <input
                                id="go-back-button"
                                type="button"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                mat-button>
                            <label 
                                class="flex items-center justify-center h-10 px-2 border rounded border-primary-300 bg-primary hover:border-primary-500 cursor-pointer"
                                for="go-back-button"
                                matRipple>
                                <span class="text-sm text-white">Checkout</span>
                                <mat-icon
                                    class="ml-2 text-white transform scale-75"
                                    [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="flex items-center w-full">
        <store-footer class="w-full"></store-footer>
    </div>
</div>