<ng-container *ngIf="storeCategories && storeCategories.length > 0">
    <carousel [cellsToShow]="carouselCellsToShow" class="flex w-full justify-center items-center h-56" [arrowsOutside]="arrowsOutside">
        <ng-container *ngFor="let category of storeCategories">
            <div class="carousel-cell group">
                <input
                    [id]="'category-button' + category.id"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    type="button"
                    (click)="chooseCategory(category.id)"
                    mat-icon-button>
                <div class="h-5 group-hover:hidden"></div>
                <label 
                    class="flex flex-col items-center justify-center cursor-pointer"
                    [for]="'category-button' + category.id"
                    matRipple>
                    <div class="relative w-44 sm:w-52 h-28 sm:h-36 my-1.5 mx-3 rounded-lg border-2 border-black group-hover:border-primary">
                        <img
                            class="object-cover h-max-52 w-max-32 rounded-lg"
                            [src]="(category.thumbnailUrl && category.thumbnailUrl !== null) ? category.thumbnailUrl : displayStoreLogo(store.storeAssets)"
                            alt="Logo image">
                        <div class="rounded border-2 border-black group-hover:border-primary absolute top-0.5 bottom-0.5 left-0.5 right-0.5"></div>
                    </div>
                    <p class="my-2 leading-none font-bold text-xl sm:text-3xl group-hover:text-primary">{{category.name}}</p>
                </label>
            </div>
            <!-- <div class="carousel-cell">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
            </div> -->
        </ng-container>
        <!-- <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div>
        <div class="carousel-cell">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/17/47/test-pattern-152459_960_720.png">
        </div> -->
    </carousel>
</ng-container>